/*
* @Author: pzz
* @Date:   2017-12-01 19:54:43
* @Last Modified by:   pzz
* @Last Modified time: 2017-12-01 20:05:01
*/
*{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑","宋体",sans-serif;
	list-style: none;
}
body{
	background: #fff;
}
img{
	border: none;
}
a{
	text-decoration: none;
}
i{
	font-style: normal
}